*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{

    background:linear-gradient(
    to bottom,
    #87CEEB 0%,
    #4FC3F7 40%,
    #00BFFF 70%,
    #F7D794 100%);

    min-height:100vh;
}

/* เมนู */

nav{

    background:rgba(255,255,255,.3);

    text-align:center;

    padding:18px;

}

nav a{

    color:white;

    text-decoration:none;

    margin:15px;

    font-size:18px;

    font-weight:bold;

}

nav a:hover{

    color:yellow;

}

/* เนื้อหา */

.hero{

    text-align:center;

    margin-top:50px;

    color:white;

}

.profile{

    width:220px;

    height:220px;

    object-fit:cover;

    border-radius:50%;

    border:6px solid white;

    box-shadow:0 0 20px rgba(0,0,0,.4);

}

h1{

    margin-top:20px;

    font-size:42px;

}

h2{

    margin-top:15px;

}

p{

    margin-top:20px;

    font-size:20px;

    line-height:35px;

}

/* ส่วนล่าง */

footer{

    margin-top:60px;

    text-align:center;

    padding:20px;

    color:white;

    font-weight:bold;

}
/* ---------- Under Sea Theme ---------- */

body.undersea{

    background:linear-gradient(
    to bottom,
    #003566,
    #00509D,
    #0077B6,
    #00B4D8);

    min-height:100vh;

}

/* กล่องข้อมูล */

.card{

    width:700px;

    margin:40px auto;

    background:rgba(255,255,255,.2);

    backdrop-filter:blur(10px);

    border-radius:25px;

    padding:35px;

    text-align:center;

    color:white;

    box-shadow:0 0 30px rgba(0,0,0,.4);

}

.card h1{

margin-bottom:25px;

}

.card p{

font-size:20px;

line-height:40px;

}

/* รูปโปรไฟล์ */

.profile{

width:220px;

height:220px;

border-radius:50%;

object-fit:cover;

border:6px solid white;

margin-bottom:25px;

box-shadow:0 0 25px white;

}
