*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Prompt',sans-serif;
}

body{

    background:linear-gradient(
    to bottom,
    #87CEEB 0%,
    #5CC8FF 35%,
    #00AEEF 55%,
    #00BCD4 70%,
    #F8D49D 100%);

    height:100vh;
    overflow:hidden;
}

/* เมนู */

nav{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 50px;

    background:rgba(255,255,255,.3);

    backdrop-filter:blur(8px);

}

nav h2{

color:white;

}

nav ul{

display:flex;
list-style:none;

}

nav li{

margin-left:25px;

}

nav a{

text-decoration:none;
color:white;
font-weight:bold;
transition:.3s;

}

nav a:hover{

color:#FFD166;

}

/* Hero */

.hero{

text-align:center;

margin-top:100px;

color:white;

}

.hero h1{

font-size:55px;

margin-bottom:20px;

text-shadow:2px 2px 5px black;

}

.hero h2{

font-size:32px;

margin-bottom:20px;

}

.hero p{

font-size:20px;

width:700px;

margin:auto;

line-height:35px;

}

.btn{

display:inline-block;

margin-top:40px;

padding:15px 45px;

background:#FFD166;

color:#005577;

text-decoration:none;

border-radius:40px;

font-size:20px;

font-weight:bold;

transition:.3s;

}

.btn:hover{

background:white;

transform:scale(1.1);

}

/* คลื่น */

.wave{

position:absolute;

bottom:0;

left:0;

width:200%;

height:180px;

background:
radial-gradient(circle at 25px 25px,#ffffff 25px,transparent 26px);

background-size:100px 80px;

animation:wave 8s linear infinite;

opacity:.9;

}

@keyframes wave{

from{

transform:translateX(0);

}

to{

transform:translateX(-100px);

}

}

footer{

position:absolute;

bottom:15px;

width:100%;

text-align:center;

font-weight:bold;

color:#005577;

}
